body{
    background-color:rgb(17, 5, 35);
    background-repeat: no-repeat;
    background-size: cover;
}
.im1{
    display: inline-block;
    align-items: center;
    width: 40vw;
    height: 50vh;
    margin-top: 10vh;
    margin-left: 29vw;
    
}
.d1{
    display: flex;
    justify-content: space-around;
    width: 30vw;
    height: 8vh;
    background-color: gray;
    margin: auto;
    border: 3px solid white;
    align-items: center;
}
.b1{
    width: 25%;
    height: 50%;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 60%;
}
.b2{
    width: 25%;
    height: 50%;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 60%;
}